

.my-color {
	color: red;
}

.my-font {
	font-family: 'Work Sans';
}

.my-root-class {
	background: white;
}

.my-root-class body {
	background: #243783;
}

.btn-primary {
    background-color: #000!important;
	background-image:none;
    color: #fff;
}